</section>
<footer>
  <p class="colophon">
    Posts by Benjamin Joyce. <a href="/2015/06/21/hello-benjaminjoycedotcom.html">First published in 2015</a>.
  </p>
  <div class="social-links">
    <a href="/feed.xml">
      <svg class="icon site-icon--rss">
        <use xlink:href="#shape-rss-logo"></use>
      </svg>
    </a>
    <a href="https://twitter.com/BenJoyceCT">
      <svg class="icon site-icon--twitter">
        <use xlink:href="#shape-twitter-logo"></use>
      </svg>
    </a>
    <a href="http://codepen.io/benjoyce/">
      <svg class="icon site-icon--codepen">
        <use xlink:href="#shape-codepen-logo"></use>
      </svg>
    </a>
  </div>
</footer>
