.article__title-card {
  align-items: baseline;
  border-bottom: 1px dashed lighten($text-color, 50%);
  display: flex;
  flex-wrap: wrap;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.25;
  word-wrap: break-word;
}
.article__title {
  flex-grow: 1;
  font-size: 2.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  @media #{$mq-babybear} {
    font-size: 4em;
  }
}
.article__date {
  font-size: 1em;
  text-transform: uppercase;
  @media #{$mq-babybear} {
    font-size: 1em;
  }
}
.article--teaser {
  padding-top: 1em;
  padding-bottom: 1em;
  transition: background-color 0.5s ease;
  a {
    color: inherit;
    text-decoration: none;
  }
  &:hover {
    background-color: lighten($blue, 25%);
  }
}
.article__list {
  list-style: none;
  padding-left: 0;
}
