.article__title-card {
  align-items: baseline;
  border-bottom: 1px dashed lighten($text-color, 50%);
  display: flex;
  flex-wrap: wrap;
  font-size: 1em;
  font-weight: 300;
}

.article__title {
  flex-grow: 1;
  font-size: 2.5em;
  @media #{$mq-babybear} {
    font-size: 4em;
  }
}

.article__date {
  font-size: .75em;
  text-transform: uppercase;
  @media #{$mq-babybear} {
    font-size: 1em;
  }
}
