.hide {
  display: none;
}

body {
  background-color: $body-color;
  color: var(--text-color);
  font-family: $primary-font;
  font-size: $base-size;
  line-height: $line-height;
}
a {
  color: $blue;
  transition: color 0.25s;
  &:hover {
    color: darken($blue, 25%);
  }
  &:focus {
    color: lighten($blue, 25%);
  }
}
/*
section {
  max-width: $max-width;
  margin: 2em auto;
  padding-left: 5%;
  padding-right: 5%;
}
*/
