body {
  background-color: $body-color;
  color: $text-color;
  font-family: $primary-font;
  @media #{$mq-papabear} {
    font-size: 1.5em;
  }
}
a {
  color: $blue;
  transition: color 0.25s;
  &:hover {
    color: darken($blue, 25%);
  }
  &:focus {
    color: lighten($blue, 25%);
  }
}
section {
  max-width: $max-width;
  margin: 1em auto;
  padding-left: 5%;
  padding-right: 5%;
}
