button {
  background-color: #fff;
  border: 2px solid $blue;
  border-radius: 0.25em;
  color: $blue;
  font-family: $primary-font;
  font-size: 1em;
  font-weight: 300;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  transition: background-color, color, transform 0.25s ease;

  &:hover {
    background-color: lighten($blue, 10%);
    color: #fff;
    transform: scale(1.1);
  }

  &:focus {
    background-color: darken($blue, 10%);
    transform: scale(1);
  }
}
