$background-color: #f9f9f9;
$text-color: #283033;

$blue: #3e99c6;
$blue-dark: #41a6e5;
$blue-radial-gradient: radial-gradient($blue, $blue-dark);
$red: #e84040;
$red-dark: #d33a3a;
$red-radial-gradient: radial-gradient($red, $red-dark);