footer {
  align-items: baseline;
  background-color: #333;
  border-top: 0.5em solid darken($body-color, 25%);
  color: #fff;
  display: flex;
  height: 5em;
  justify-content: space-between;
  padding-right: 5%;
  padding-left: 5%;
}
