nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  @media #{$mq-babybear} {
    justify-content: flex-end;
    flex-direction: row;
    flex-grow: 1;
  }
  a {
    &:not(:last-of-type) {
      margin-bottom: 1em;
      @media #{$mq-babybear} {
        margin-bottom: 0;
        margin-right: 5%;
      }
    }
  }
}
