// Media query
$mq-babybear:   "(min-width: 80em)";
$mq-papabear:   "(min-width: 100em)";
$mq-dark:       "(prefers-color-scheme: dark)";

// OLD OLD OLD Fonts
$primary-font: serif;
$line-height: 1.75em;
$base-size: 1.25em;

// Fonts
:root {
  --display-font: 'Work Sans', sans-serif;
  --sans-font: 'Work Sans', sans-serif;
}

// OLD OLD OLD OLD Colors
$text-color:   #555;
$body-color:   #fff;
$blue:         #3498db;
$orange:       #fe9700;
$purple:       #6453db;
$green:        #59BA48;


// Colors
:root {
  --red: #fa6060;
  --blue: #225f85;
  --link: var(--blue);
  --darkest-blue: #141C21;
  --pure-white: #fff;
  --gray-white: #e5e5e5;
}

@media #{$mq-dark} {
  :root {
    --pure-white: #e5e5e5;
    --link: #b65cd6;
  }
}

// Width stuff
//$max-width: 50em;
